body{
    background-image: url(gambar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
  
    
}

.justify{
    background-color: white;
    background-image: url(avocado.jpg);
    background-repeat: repeat; 
    border: solid;
    border-color: red;
    width: 560px;
    height: 550px;
    margin:  auto;
    background-size: 200px;
    text-align: center;
    color: blue;


}

.repeat{
    background-size: 200px;
    background-image: url(avocado.jpg);
    background-repeat: repeat-x;
    border: solid;
    border-color: red;
    width: 560px;
    height: 550px;
    margin: auto;
}